@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');
@import url('https://kit.fontawesome.com/a076d05399.js');

* {

    box-sizing: content-box;
}


body {
    background-image: url('./images/bg-desktop.svg');
    background-repeat: no-repeat;
    background-size: initial;
    color: #fff;
    display: flex;
    font-family: 'Open sans', sans-serif;
    background-color: hsl(257, 40%, 49%);
    font-size: 1.4em;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}

h1 {
    font-family: 'Poppins', sans-serif;
}
p {
    opacity: 0.75;
}
img {
    max-width: 100%;
}

.container {
    margin: auto;
    margin-top: 10px ;
    max-width: 100%;
    width: 1200px;
}

.flex {
    display: flex;
    margin: 35px 0;
    flex: 1;
}

.flex > div:first-child {
    flex: 0.6;
    margin-right: 20px;
}

.flex > div:last-child {
    flex: 0.4;
    margin-left: 20px;
}
.flex a {
    color:hsl(300, 69%, 71%);
    text-decoration: none;
}
button {
    font-size: 100%;
    background-color: #fff;
    border-radius: 50px;
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    color: hsl(300, 69%, 71%);
    padding: 20px 80px;
    
}

.social-links .icon {
    display: inline-block;
    height: 60px;
    width: 60px;
    float: right;
    overflow: hidden;
    margin: 0 5px;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    transition: all 0.3s ease-out;
}

.social-links .icon:hover{
    width: 200px;
}

.social-links .icon .logo {
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
}

.social-links .icon:nth-child(1) .logo {
    background: rgb(66,103,178);
}

.social-links .icon:nth-child(2) .logo {
    background: rgb(29,161,242);
}
.social-links .icon:nth-child(3) .logo {
    background: rgb(193, 53, 132);
}

.social-links .icon:nth-child(1) .logo {
    background: rgb(66,103,178);
}
.social-links .icon:nth-child(2) .logo {
    background: rgb(29,161,242);
}
.social-links .icon:nth-child(3) .logo {
    background: rgb(193, 53, 132);
}

.social-links .icon .logo i {
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
}
.social-links .icon:hover .logo i {
    color: #fff;
    transition: all 0.3s ease-out;
}

.social-links .icon span {
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-out;

}
.social-links .icon:nth-child(1) span{
    color: rgb(66,103,178);
}
.social-links .icon:nth-child(2) span{
    color: rgb(29,161,242);
}
.social-links .icon:nth-child(3) span{
    color: rgb(193, 53, 132);
}

@media screen and (max-width: 768px) {
    .flex {
        flex-direction: column;
        margin: 50px 0;
        text-align: center;
    }

    .flex > div:first-child {
        flex: 0.6;
        margin-right: 20px;
    }

    .flex > div:last-child {
        flex: 0.4;
        margin-left: 20px;
    }

    .social-links {
        justify-content: center;
    }
}